In [1]:
import sklearn
import nltk
import pandas
import xlrd
import pandas as pd
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from collections import Counter
from nltk.util import ngrams
import matplotlib.pyplot as plt
from os import path
from PIL import Image
import numpy as np
from random import sample
import random
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import itertools
import xlwt
from xlwt import Workbook
import xlsxwriter 
from sklearn.model_selection import cross_validate
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestClassifier
from collections import defaultdict
from collections import Counter

from textblob import TextBlob, Word
import math
from sklearn.feature_extraction import DictVectorizer
from collections import Counter
from sklearn.datasets import make_classification
import imblearn
from imblearn.under_sampling import RandomUnderSampler

In [2]:
def processed_abstract(abstract):   
# This is a comment: the 1st abstract value is now stored in the variable abstract
#- process it and store the tokens in some variable
    NUM_result1 = re.sub(r'\d+','NUMERIC', abstract)
    PUNC_result1 = re.sub(r'[^A-Za-z0-9-/\s]', ' ', NUM_result1)
    PMID_token1 = nltk.word_tokenize(PUNC_result1)
    
    #PMID_token1 = nltk.wordpunct_tokenize(PUNC_result1)
       
    stop_words = set(stopwords.words('english'))

    filtered_sentence1 = [w for w in PMID_token1 if not w.lower() in stop_words]
    filtered_sentence1 = []
    
    for w in PMID_token1:
        if w not in stop_words:
            if w[-1] in [".",",",":", ";"]:
                w = "".join(w[0:-1])
            filtered_sentence1.append(w)
            
    lemmatizer1 = WordNetLemmatizer()
    lemmatized_abstract1 = [lemmatizer1.lemmatize(word) for word in filtered_sentence1]
    listToStr = ' '.join([str(elem) for elem in lemmatized_abstract1])
    

    return listToStr

In [3]:
#About Set, open and read about set
full_set2 = pd.read_excel(r"C:\Users\jolsh\Documents\REU\BP_nonBP_PMID (with rest categories).xlsx", 
                          sheet_name = "BP Set")
print(full_set2)

      docID_Bibliome                                            AUTHORS  \
0                 10                      raju, ts; ray, mk; stanley, p
1                 11                    potvin, b; raju, ts; stanley, p
2                 14  hooker, ad; goldman, mh; markham, nh; james, d...
3                 19  eder, jp; chan, vtw; ng, sw; rizvi, na; zachar...
4                 39                           seewoster, t; lehmann, j
...              ...                                                ...
1045           10275  ho, steven c. l.; mariati; yeo, jessna h. m.; ...
1046           10276  haryadi, ryan; ho, steven; kok, yee jiun; pu, ...
1047           10277            wilkens, camila a.; gerdtzen, ziomara p
1048           10278  liu, jintao; wang, jie; fan, li; chen, xinning...
1049           10279  liu, z; dai, s; bones, j; ray, s; cha, s; karg...

                                                  TITLE  \
0     lec18, a dominant chinese hamster ovary glycos...
1     lec32 is a new mutation in chinese hamster ova...
2     n-glycans of recombinant human interferon-gamm...
3     dna topoisomerase-ii-alpha expression is assoc...
4     influence of targeted asparagine starvation on...
...                                                 ...
1045  impact of using different promoters and matrix...
1046  optimization of heavy chain and light chain si...
1047  comparative metabolic analysis of cho cell clo...
1048  galactose supplementation enhance sialylation ...
1049  a quantitative proteomic analysis of celluar r...

                                            JOURNAL  PUB_YEAR  \
0                   journal of biological chemistry      1995
1                   journal of biological chemistry      1995
2                  biotechnology and bioengineering      1995
3                                   cancer research      1995
4            applied microbiology and biotechnology      1995
...                                             ...       ...
1045                        molecular biotechnology      2015
1046                                       plos one      2015
1047                                       plos one      2015
1048  world journal of microbiology & biotechnology      2015
1049                         biotechnology progress      2015

                                               ABSTRACT  \
0     the dominant chinese hamster ovary cell glycos...
1     lec29.lec32 is a glycosylation mutant that was...
2     a recombinant chinese hamster ovary (cho) cell...
3     increased expression of dna topoisomerase ii a...
4     for the development of an expression system wi...
...                                                 ...
1045  high expression level and long-term expression...
1046  translocation of a nascent protein from the cy...
1047  cell engineering has been used to improve anim...
1048  sialic acid levels of therapeutic glycoprotein...
1049  a goal in recombinant protein production using...

                DIGITAL IDENTIFIER      PMID  BPdocID_nonBP  Label
0                              NaN   8530451             17      1
1                              NaN   8530468             18      1
2            10.1002/bit.260480612  18623533             19      1
3                              NaN   8521401             20      1
4                              NaN   8597537             21      1
...                            ...       ...            ...    ...
1045     10.1007/s12033-014-9809-2  25307181           1137      1
1046  10.1371/journal.pone.0116878  25706993           1150      1
1047  10.1371/journal.pone.0119053  25768021           1117      1
1048     10.1007/s11274-015-1864-8  25931375           1113      1
1049             10.1002/btpr.2090  25857574           1147      1

[1050 rows x 10 columns]

In [4]:
#replace empty abstracts
full_set2['ABSTRACT'].fillna("ABSTRACT EMPTY",inplace=True)

In [5]:
#combine title and processed abstracts
full_set2['processed_abstracts']=(full_set2['TITLE'] + ' ' + full_set2['ABSTRACT']).apply(lambda x:processed_abstract(x))
print(full_set2)

      docID_Bibliome                                            AUTHORS  \
0                 10                      raju, ts; ray, mk; stanley, p
1                 11                    potvin, b; raju, ts; stanley, p
2                 14  hooker, ad; goldman, mh; markham, nh; james, d...
3                 19  eder, jp; chan, vtw; ng, sw; rizvi, na; zachar...
4                 39                           seewoster, t; lehmann, j
...              ...                                                ...
1045           10275  ho, steven c. l.; mariati; yeo, jessna h. m.; ...
1046           10276  haryadi, ryan; ho, steven; kok, yee jiun; pu, ...
1047           10277            wilkens, camila a.; gerdtzen, ziomara p
1048           10278  liu, jintao; wang, jie; fan, li; chen, xinning...
1049           10279  liu, z; dai, s; bones, j; ray, s; cha, s; karg...

                                                  TITLE  \
0     lec18, a dominant chinese hamster ovary glycos...
1     lec32 is a new mutation in chinese hamster ova...
2     n-glycans of recombinant human interferon-gamm...
3     dna topoisomerase-ii-alpha expression is assoc...
4     influence of targeted asparagine starvation on...
...                                                 ...
1045  impact of using different promoters and matrix...
1046  optimization of heavy chain and light chain si...
1047  comparative metabolic analysis of cho cell clo...
1048  galactose supplementation enhance sialylation ...
1049  a quantitative proteomic analysis of celluar r...

                                            JOURNAL  PUB_YEAR  \
0                   journal of biological chemistry      1995
1                   journal of biological chemistry      1995
2                  biotechnology and bioengineering      1995
3                                   cancer research      1995
4            applied microbiology and biotechnology      1995
...                                             ...       ...
1045                        molecular biotechnology      2015
1046                                       plos one      2015
1047                                       plos one      2015
1048  world journal of microbiology & biotechnology      2015
1049                         biotechnology progress      2015

                                               ABSTRACT  \
0     the dominant chinese hamster ovary cell glycos...
1     lec29.lec32 is a glycosylation mutant that was...
2     a recombinant chinese hamster ovary (cho) cell...
3     increased expression of dna topoisomerase ii a...
4     for the development of an expression system wi...
...                                                 ...
1045  high expression level and long-term expression...
1046  translocation of a nascent protein from the cy...
1047  cell engineering has been used to improve anim...
1048  sialic acid levels of therapeutic glycoprotein...
1049  a goal in recombinant protein production using...

                DIGITAL IDENTIFIER      PMID  BPdocID_nonBP  Label  \
0                              NaN   8530451             17      1
1                              NaN   8530468             18      1
2            10.1002/bit.260480612  18623533             19      1
3                              NaN   8521401             20      1
4                              NaN   8597537             21      1
...                            ...       ...            ...    ...
1045     10.1007/s12033-014-9809-2  25307181           1137      1
1046  10.1371/journal.pone.0116878  25706993           1150      1
1047  10.1371/journal.pone.0119053  25768021           1117      1
1048     10.1007/s11274-015-1864-8  25931375           1113      1
1049             10.1002/btpr.2090  25857574           1147      1

                                    processed_abstracts
0     lecNUMERIC dominant chinese hamster ovary glyc...
1     lecNUMERIC new mutation chinese hamster ovary ...
2     n-glycans recombinant human interferon-gamma c...
3     dna topoisomerase-ii-alpha expression associat...
4     influence targeted asparagine starvation extra...
...                                                 ...
1045  impact using different promoter matrix attachm...
1046  optimization heavy chain light chain signal pe...
1047  comparative metabolic analysis cho cell clone ...
1048  galactose supplementation enhance sialylation ...
1049  quantitative proteomic analysis celluar respon...

[1050 rows x 11 columns]

In [6]:
#Analysis of About Set
string2 = full_set2['processed_abstracts'].str.cat(sep=', ')

def lemmatize_with_postag(sentence):
    sent = TextBlob(sentence)
    tag_dict = {"J": 'a', 
                "N": 'n', 
                "V": 'v', 
                "R": 'r'}
    words_and_tags = [(w, tag_dict.get(pos[0], 'n')) for w, pos in sent.tags]    
    lemmatized_list = [wd.lemmatize(tag) for wd, tag in words_and_tags]
    return " ".join(lemmatized_list)

# Lemmatize
sentence = string2
lemma = lemmatize_with_postag(sentence)

tokenize = nltk.word_tokenize(lemma)

#will show just top x most frequent unigram, bigram, and trigrams
unigram_series2 = (pd.Series(nltk.ngrams(tokenize, 1)))[0:]
bigram_series2 = (pd.Series(nltk.ngrams(tokenize, 2)))[0:]

#stores all the unigram, bigram, and trigrams for later weighting
#unigram_series2 = (nltk.ngrams(filtered_sentence, 1))
#bigram_series2 = (nltk.ngrams(filtered_sentence, 2)))

In [7]:
joined_unigram2 = []
for x in unigram_series2:
    join = ''.join(x)
    joined_unigram2.append(join)
print(len(joined_unigram2))

158666

In [8]:
joined_bigram2 = []
for x in bigram_series2:
    join = ' '.join(x)
    joined_bigram2.append(join)
print(len(joined_bigram2))

158665

In [9]:
#Create dictionary of unique unigram terms
DF3 = defaultdict(int)
words = joined_unigram2
unique_words = set(words)

oldcount = 0
print(len(set(words)))
for x in full_set2['processed_abstracts']:
    for word in unique_words:
        if len(word) >= 2 and word in x:
            DF3[word] += 1
        else:
            oldcount = DF3.get(word)
            if oldcount is None:
                DF3[word] = 0
            else:
                DF3[word] = DF3[word]
print(len(DF3))

12068
12068

In [10]:
#Create dictionary of unique bigram terms
DF4 = defaultdict(int)
words = joined_bigram2
unique_words = set(words)

oldcount = 0
print(len(set(words)))
for x in full_set2['processed_abstracts']:
    for word in unique_words:
        if len(word) >= 2 and word in x:
            DF4[word] += 1
        else:
            oldcount = DF4.get(word)
            if oldcount is None:
                DF4[word] = 0
            else:
                DF4[word] = DF4[word]
print(len(DF4))

94217
94217

In [11]:
#merge into a dataframe
dfb3 = pd.DataFrame.from_dict(DF3, orient = 'index', columns = ['count2'])
dfb3 = dfb3.reset_index()
rslt_dfb3 = dfb3.sort_values(by = 'count2', ascending = False)

In [12]:
dfb4 = pd.DataFrame.from_dict(DF4, orient = 'index', columns = ['count2'])
dfb4 = dfb4.reset_index()
rslt_dfb4 = dfb4.sort_values(by = 'count2', ascending = False)

In [13]:
#can set to top values using integer in print statement
#ordered by document frequency for Background set unigrams use .iloc
print(rslt_dfb3.head(3500))
##ordered by document frequency for Background set bigraams
print(rslt_dfb4.head(1500))

               index  count2
3440              ch    1046
5200              re    1044
658               te    1043
5476              se    1040
4427              er    1040
...              ...     ...
5647        factor-i       6
3261           begin       6
4794         unclear       6
5274  classification       6
8632    untranslated       6

[3500 rows x 2 columns]
                 index  count2
89075              e c     943
36168    hamster ovary     894
82855       chinese ha     889
68204  chinese hamster     888
39052              l c     805
...                ...     ...
91568    nutrient feed       9
60079        stem cell       9
5533       NUMERIC two       9
87025        one major       9
24833           e heat       9

[1500 rows x 2 columns]

In [14]:
#Background Set 
full_set = pd.read_excel(r"C:\Users\jolsh\Documents\REU\BP_nonBP_PMID (with rest categories).xlsx", sheet_name = "BP_NONBP for LR")
print(full_set)

      docID_Bibliome                                            AUTHORS  \
0                  1  li, zy; otevrel, t; gao, yj; cheng, hl; seed, ...
1                  2  chang, rsl; lotti, vj; chen, tb; omalley, ss; ...
2                  3  robineau, p; lonchampt, m; kucharczyk, n; krau...
3                  4    wood, ic; roopra, a; harrington, c; buckley, nj
4                  5                    zimprich, a; simon, t; hollt, v
...              ...                                                ...
9686           10275  ho, steven c. l.; mariati; yeo, jessna h. m.; ...
9687           10276  haryadi, ryan; ho, steven; kok, yee jiun; pu, ...
9688           10277            wilkens, camila a.; gerdtzen, ziomara p
9689           10278  liu, jintao; wang, jie; fan, li; chen, xinning...
9690           10279  liu, z; dai, s; bones, j; ray, s; cha, s; karg...

                                                  TITLE  \
0     the xrcc4 gene encodes a novel protein involve...
1     in vitro pharmacology of an angiotensin at(1) ...
2     in vitro and in vivo pharmacology of s 16474, ...
3     structure of the m4 cholinergic muscarinic rec...
4     transfected rat mu opioid receptors (rmor1 and...
...                                                 ...
9686  impact of using different promoters and matrix...
9687  optimization of heavy chain and light chain si...
9688  comparative metabolic analysis of cho cell clo...
9689  galactose supplementation enhance sialylation ...
9690  a quantitative proteomic analysis of celluar r...

                                            JOURNAL  PUB_YEAR  \
0                                              cell      1995
1                  european journal of pharmacology      1995
2                  european journal of pharmacology      1995
3                   journal of biological chemistry      1995
4                                       neuroreport      1995
...                                             ...       ...
9686                        molecular biotechnology      2015
9687                                       plos one      2015
9688                                       plos one      2015
9689  world journal of microbiology & biotechnology      2015
9690                         biotechnology progress      2015

                                               ABSTRACT  \
0     the xr-1 chinese hamster ovary cell line is im...
1     l-163,017 (6-[benzoylamino]-7-methyl-2-propyl-...
2     since tachykinins released from lung sensory n...
3     cholinergic muscarinic receptor genes are memb...
4     the mu opioid agonist damgo increases intracel...
...                                                 ...
9686  high expression level and long-term expression...
9687  translocation of a nascent protein from the cy...
9688  cell engineering has been used to improve anim...
9689  sialic acid levels of therapeutic glycoprotein...
9690  a goal in recombinant protein production using...

                    DIGITAL IDENTIFIER      PMID BPdocID_nonBP  Label
0         10.1016/0092-8674(95)90135-3   8548796         nonbp      0
1         10.1016/0014-2999(95)00563-3   8750703         nonbp      0
2         10.1016/0014-2999(95)00604-4   8750733         nonbp      0
3                                  NaN   8537349         nonbp      0
4     10.1097/00001756-199512000-00012   8742415         nonbp      0
...                                ...       ...           ...    ...
9686         10.1007/s12033-014-9809-2  25307181          1137      1
9687      10.1371/journal.pone.0116878  25706993          1150      1
9688      10.1371/journal.pone.0119053  25768021          1117      1
9689         10.1007/s11274-015-1864-8  25931375          1113      1
9690                 10.1002/btpr.2090  25857574          1147      1

[9691 rows x 10 columns]

In [15]:
full_set['ABSTRACT'].fillna("ABSTRACT EMPTY",inplace=True)

In [16]:
full_set['processed_abstracts']=(full_set['TITLE'] + ' ' + full_set['ABSTRACT']).apply(lambda x:processed_abstract(x))
print(full_set)

      docID_Bibliome                                            AUTHORS  \
0                  1  li, zy; otevrel, t; gao, yj; cheng, hl; seed, ...
1                  2  chang, rsl; lotti, vj; chen, tb; omalley, ss; ...
2                  3  robineau, p; lonchampt, m; kucharczyk, n; krau...
3                  4    wood, ic; roopra, a; harrington, c; buckley, nj
4                  5                    zimprich, a; simon, t; hollt, v
...              ...                                                ...
9686           10275  ho, steven c. l.; mariati; yeo, jessna h. m.; ...
9687           10276  haryadi, ryan; ho, steven; kok, yee jiun; pu, ...
9688           10277            wilkens, camila a.; gerdtzen, ziomara p
9689           10278  liu, jintao; wang, jie; fan, li; chen, xinning...
9690           10279  liu, z; dai, s; bones, j; ray, s; cha, s; karg...

                                                  TITLE  \
0     the xrcc4 gene encodes a novel protein involve...
1     in vitro pharmacology of an angiotensin at(1) ...
2     in vitro and in vivo pharmacology of s 16474, ...
3     structure of the m4 cholinergic muscarinic rec...
4     transfected rat mu opioid receptors (rmor1 and...
...                                                 ...
9686  impact of using different promoters and matrix...
9687  optimization of heavy chain and light chain si...
9688  comparative metabolic analysis of cho cell clo...
9689  galactose supplementation enhance sialylation ...
9690  a quantitative proteomic analysis of celluar r...

                                            JOURNAL  PUB_YEAR  \
0                                              cell      1995
1                  european journal of pharmacology      1995
2                  european journal of pharmacology      1995
3                   journal of biological chemistry      1995
4                                       neuroreport      1995
...                                             ...       ...
9686                        molecular biotechnology      2015
9687                                       plos one      2015
9688                                       plos one      2015
9689  world journal of microbiology & biotechnology      2015
9690                         biotechnology progress      2015

                                               ABSTRACT  \
0     the xr-1 chinese hamster ovary cell line is im...
1     l-163,017 (6-[benzoylamino]-7-methyl-2-propyl-...
2     since tachykinins released from lung sensory n...
3     cholinergic muscarinic receptor genes are memb...
4     the mu opioid agonist damgo increases intracel...
...                                                 ...
9686  high expression level and long-term expression...
9687  translocation of a nascent protein from the cy...
9688  cell engineering has been used to improve anim...
9689  sialic acid levels of therapeutic glycoprotein...
9690  a goal in recombinant protein production using...

                    DIGITAL IDENTIFIER      PMID BPdocID_nonBP  Label  \
0         10.1016/0092-8674(95)90135-3   8548796         nonbp      0
1         10.1016/0014-2999(95)00563-3   8750703         nonbp      0
2         10.1016/0014-2999(95)00604-4   8750733         nonbp      0
3                                  NaN   8537349         nonbp      0
4     10.1097/00001756-199512000-00012   8742415         nonbp      0
...                                ...       ...           ...    ...
9686         10.1007/s12033-014-9809-2  25307181          1137      1
9687      10.1371/journal.pone.0116878  25706993          1150      1
9688      10.1371/journal.pone.0119053  25768021          1117      1
9689         10.1007/s11274-015-1864-8  25931375          1113      1
9690                 10.1002/btpr.2090  25857574          1147      1

                                    processed_abstracts
0     xrccNUMERIC gene encodes novel protein involve...
1     vitro pharmacology angiotensin NUMERIC recepto...
2     vitro vivo pharmacology NUMERIC novel dual tac...
3     structure mNUMERIC cholinergic muscarinic rece...
4     transfected rat mu opioid receptor rmorNUMERIC...
...                                                 ...
9686  impact using different promoter matrix attachm...
9687  optimization heavy chain light chain signal pe...
9688  comparative metabolic analysis cho cell clone ...
9689  galactose supplementation enhance sialylation ...
9690  quantitative proteomic analysis celluar respon...

[9691 rows x 11 columns]

In [17]:
DF1 = defaultdict(int)
words = joined_unigram2
unique_words = set(words)
oldcount = 0
for x in full_set['processed_abstracts']:
    for word in unique_words:
        if len(word) >= 2 and word in x:
            DF1[word] += 1
        else:
            oldcount = DF1.get(word)
            if oldcount is None:
                DF1[word] = 0
            else:
                DF1[word] = DF1[word]
print(len(DF1))

12068

In [18]:
DF2 = defaultdict(int)
print(len(DF2))
words = joined_bigram2
unique_words = set(words)

oldcount = 0
for x in full_set['processed_abstracts']:
    for word in unique_words:
        if len(word) >= 2 and word in x:
            DF2[word] += 1
        else:
            oldcount = DF2.get(word)
            if oldcount is None:
                DF2[word] = 0
            else:
                DF2[word] = DF2[word]
print(len(DF2))

0
94217

In [19]:
dfb1 = pd.DataFrame.from_dict(DF1, orient = 'index', columns = ['count1'])
dfb1 = dfb1.reset_index()
dfb1 ['word'] = dfb1['index']
rslt_dfb1 = dfb1.sort_values(by = 'count1', ascending = False)

In [20]:
dfb2 = pd.DataFrame.from_dict(DF2, orient = 'index', columns = ['count1'])
dfb2 = dfb2.reset_index()
dfb2 ['word'] = dfb2['index']
rslt_dfb2 = dfb2.sort_values(by = 'count1', ascending = False)

In [21]:
#can set to top values using integer in print statement
#ordered by document frequency for Background set unigrams use .iloc
#dfb1['words'] = dfb1 ['index']
print(rslt_dfb1.head(6000))
##ordered by document frequency for Background set bigraams
#dfb2['words'] = dfb2 ['index']
print(rslt_dfb2.head(7000))

                 index  count1             word
5200                re    9567               re
658                 te    9566               te
4427                er    9530               er
11683              ion    9529              ion
478                 an    9523               an
...                ...     ...              ...
11896        redundant      11        redundant
5220     desialylation      11    desialylation
6538   mannose-binding      10  mannose-binding
11195           starve      10           starve
3429     methylglyoxal      10    methylglyoxal

[6000 rows x 3 columns]
                   index  count1               word
36168      hamster ovary    9008      hamster ovary
82855         chinese ha    8927         chinese ha
68204    chinese hamster    8926    chinese hamster
89075                e c    8243                e c
39052                l c    6574                l c
...                  ...     ...                ...
58228           ri alpha      12           ri alpha
85894        protein gpi      12        protein gpi
71170      culture model      12      culture model
55926  cho glycosylation      12  cho glycosylation
62683      data analysis      12      data analysis

[7000 rows x 3 columns]

In [22]:
#create dataframe with combined counts from about and background set
result1 = pd.concat([dfb1,dfb3], axis=1)
print(result1)

                                             index  count1  \
0                                           resume      23
1                                 high-performance      49
2                                        elevation     114
3      NUMERIC-amino-NUMERIC-imidazole-carboxamide       1
4                                     carcinogenic      42
...                                            ...     ...
12063                                         grow    1490
12064                                   responsive     219
12065                                  norhabditis      30
12066                            glcnac-terminated       2
12067                                     assembly     221

                                              word  \
0                                           resume
1                                 high-performance
2                                        elevation
3      NUMERIC-amino-NUMERIC-imidazole-carboxamide
4                                     carcinogenic
...                                            ...
12063                                         grow
12064                                   responsive
12065                                  norhabditis
12066                            glcnac-terminated
12067                                     assembly

                                             index  count2
0                                           resume       2
1                                 high-performance      13
2                                        elevation       8
3      NUMERIC-amino-NUMERIC-imidazole-carboxamide       1
4                                     carcinogenic       3
...                                            ...     ...
12063                                         grow     396
12064                                   responsive      15
12065                                  norhabditis       2
12066                            glcnac-terminated       1
12067                                     assembly      27

[12068 rows x 5 columns]

In [23]:
#create dataframe with combined counts from about and background set
result2 = pd.concat([dfb2,dfb4], axis=1)
print(result2)

                         index  count1                     word  \
0         copynumbers decrease       1     copynumbers decrease
1            genome futNUMERIC       1        genome futNUMERIC
2                contain mouse       1            contain mouse
3      lcNUMERIC-ii autophagic       1  lcNUMERIC-ii autophagic
4              bearing variety       1          bearing variety
...                        ...     ...                      ...
94212     successfully remodel       1     successfully remodel
94213         involve ldl-chol       0         involve ldl-chol
94214             added tracer       1             added tracer
94215              reduce cell       6              reduce cell
94216         engineering xiap       1         engineering xiap

                         index  count2
0         copynumbers decrease       1
1            genome futNUMERIC       1
2                contain mouse       0
3      lcNUMERIC-ii autophagic       1
4              bearing variety       1
...                        ...     ...
94212     successfully remodel       1
94213         involve ldl-chol       0
94214             added tracer       1
94215              reduce cell       1
94216         engineering xiap       1

[94217 rows x 5 columns]

In [24]:
#sort based off of frequency in about set
rslt1 = result1.sort_values(by = 'count2', ascending = False)
print(rslt1)

        index  count1     word    index  count2
3440       ch    9446       ch       ch    1046
5200       re    9567       re       re    1044
658        te    9566       te       te    1043
5476       se    9467       se       se    1040
4427       er    9530       er       er    1040
...       ...     ...      ...      ...     ...
2652        s       0        s        s       0
76    fortify       1  fortify  fortify       0
4289  precede      31  precede  precede       0
5600        f       0        f        f       0
978   endorse       3  endorse  endorse       0

[12068 rows x 5 columns]

In [25]:
rslt2 = result2.sort_values(by = 'count2', ascending = False)
print(rslt2)

                    index  count1                word               index  \
89075                 e c    8243                 e c                 e c
36168       hamster ovary    9008       hamster ovary       hamster ovary
82855          chinese ha    8927          chinese ha          chinese ha
68204     chinese hamster    8926     chinese hamster     chinese hamster
39052                 l c    6574                 l c                 l c
...                   ...     ...                 ...                 ...
78724        line profile       0        line profile        line profile
78722  extend cultivation       0  extend cultivation  extend cultivation
15634       remove mature       0       remove mature       remove mature
58269      favour promote       0      favour promote      favour promote
47381  appear independent       0  appear independent  appear independent

       count2
89075     943
36168     894
82855     889
68204     888
39052     805
...       ...
78724       0
78722       0
15634       0
58269       0
47381       0

[94217 rows x 5 columns]

In [26]:
#count 1 is for background set count 2 is for about set, looking at unigrams
dict1 = rslt1.head(3500)
print(dict1)

               index  count1            word           index  count2
3440              ch    9446              ch              ch    1046
5200              re    9567              re              re    1044
658               te    9566              te              te    1043
5476              se    9467              se              se    1040
4427              er    9530              er              er    1040
...              ...     ...             ...             ...     ...
5647        factor-i      39        factor-i        factor-i       6
3261           begin      58           begin           begin       6
4794         unclear     147         unclear         unclear       6
5274  classification      22  classification  classification       6
8632    untranslated      68    untranslated    untranslated       6

[3500 rows x 5 columns]

In [27]:
#count 1 is for background set count 2 is for about set, looking at bigrams
dict2 = rslt2.head(1500)
print(dict2)

                 index  count1             word            index  count2
89075              e c    8243              e c              e c     943
36168    hamster ovary    9008    hamster ovary    hamster ovary     894
82855       chinese ha    8927       chinese ha       chinese ha     889
68204  chinese hamster    8926  chinese hamster  chinese hamster     888
39052              l c    6574              l c              l c     805
...                ...     ...              ...              ...     ...
91568    nutrient feed      10    nutrient feed    nutrient feed       9
60079        stem cell      46        stem cell        stem cell       9
5533       NUMERIC two     120      NUMERIC two      NUMERIC two       9
87025        one major      36        one major        one major       9
24833           e heat      51           e heat           e heat       9

[1500 rows x 5 columns]

In [28]:
#perform eGift scoring
Na = 1050
Nb = 9690
for index,row in dict1.iterrows():
        dict1.at[index,'scores'] = (((row['count2'])/(Na)) - ((row['count1'])/(Nb))) * np.log (Nb / (row['count1'])) 
print(dict1)

C:\Users\jolsh\anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\jolsh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

               index  count1            word           index  count2    scores
3440              ch    9446              ch              ch    1046  0.000545
5200              re    9567              re              re    1044  0.000089
658               te    9566              te              te    1043  0.000079
5476              se    9467              se              se    1040  0.000314
4427              er    9530              er              er    1040  0.000116
...              ...     ...             ...             ...     ...       ...
5647        factor-i      39        factor-i        factor-i       6  0.009318
3261           begin      58           begin           begin       6 -0.001388
4794         unclear     147         unclear         unclear       6 -0.039606
5274  classification      22  classification  classification       6  0.020966
8632    untranslated      68    untranslated    untranslated       6 -0.006463

[3500 rows x 6 columns]

In [29]:
rslt_score1 = dict1.sort_values(by = 'scores', ascending = False).reset_index(drop = True)
rslt_score1.to_csv('eGiftScoringUnigramBP.tsv',sep = '\t')
print(rslt_score1)

#for use later 
rslt_score_for_fisher1 = dict1.sort_values(by = 'scores', ascending = False).reset_index(drop = True)
print(rslt_score_for_fisher1)

             index  count1          word         index  count2    scores
0     productivity     323  productivity  productivity     251  0.699675
1       production    1323    production    production     472  0.623226
2          product    1945       product       product     617  0.621291
3          culture    1802       culture       culture     543  0.557107
4            batch     256         batch         batch     180  0.526917
...            ...     ...           ...           ...     ...       ...
3495           cep    4045           cep           cep     159 -0.232392
3496       binding    2811       binding       binding     105 -0.235250
3497    activation    1960    activation    activation      57 -0.236502
3498       agonist    1488       agonist       agonist      12 -0.266307
3499      receptor    3599      receptor      receptor      87 -0.285798

[3500 rows x 6 columns]
             index  count1          word         index  count2    scores
0     productivity     323  productivity  productivity     251  0.699675
1       production    1323    production    production     472  0.623226
2          product    1945       product       product     617  0.621291
3          culture    1802       culture       culture     543  0.557107
4            batch     256         batch         batch     180  0.526917
...            ...     ...           ...           ...     ...       ...
3495           cep    4045           cep           cep     159 -0.232392
3496       binding    2811       binding       binding     105 -0.235250
3497    activation    1960    activation    activation      57 -0.236502
3498       agonist    1488       agonist       agonist      12 -0.266307
3499      receptor    3599      receptor      receptor      87 -0.285798

[3500 rows x 6 columns]

In [30]:
Na = 1050
Nb = 9690
for index,row in dict2.iterrows():
        dict2.at[index,'scores'] = (((row['count2'])/(Na)) - ((row['count1'])/(Nb))) * np.log (Nb / (row['count1'])) 
print(dict2)

C:\Users\jolsh\anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\jolsh\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

                 index  count1             word            index  count2  \
89075              e c    8243              e c              e c     943
36168    hamster ovary    9008    hamster ovary    hamster ovary     894
82855       chinese ha    8927       chinese ha       chinese ha     889
68204  chinese hamster    8926  chinese hamster  chinese hamster     888
39052              l c    6574              l c              l c     805
...                ...     ...              ...              ...     ...
91568    nutrient feed      10    nutrient feed    nutrient feed       9
60079        stem cell      46        stem cell        stem cell       9
5533       NUMERIC two     120      NUMERIC two      NUMERIC two       9
87025        one major      36        one major        one major       9
24833           e heat      51           e heat           e heat       9

         scores
89075  0.007670
36168 -0.005706
82855 -0.006118
68204 -0.006196
39052  0.034233
...         ...
91568  0.051843
60079  0.020461
5533  -0.016742
87025  0.027172
24833  0.017359

[1500 rows x 6 columns]

In [31]:
rslt_score2 = dict2.sort_values(by = 'scores', ascending = False).reset_index(drop = True)
rslt_score2.to_csv('eGiftScoringBigramBP.tsv',sep = '\t')
print(rslt_score2)

#for use in Fisher
rslt_score_for_fisher2 = dict2.sort_values(by = 'scores', ascending = False).reset_index(drop = True)
print(rslt_score_for_fisher2)

                    index  count1                 word                index  \
0                 cell cu     705              cell cu              cell cu
1               l culture     717            l culture            l culture
2            cell culture     632         cell culture         cell culture
3     recombinant protein     387  recombinant protein  recombinant protein
4               cell grow     484            cell grow            cell grow
...                   ...     ...                  ...                  ...
1495            NUMERIC n    1995            NUMERIC n            NUMERIC n
1496  transfected chinese     719  transfected chinese  transfected chinese
1497            NUMERIC r    3316            NUMERIC r            NUMERIC r
1498     NUMERIC receptor    1008     NUMERIC receptor     NUMERIC receptor
1499           receptor c    1276           receptor c           receptor c

      count2    scores
0        293  0.540620
1        290  0.526474
2        268  0.518737
3        201  0.487864
4        212  0.455377
...      ...       ...
1495     115 -0.152290
1496      14 -0.158314
1497     196 -0.166793
1498      11 -0.211712
1499      22 -0.224490

[1500 rows x 6 columns]
                    index  count1                 word                index  \
0                 cell cu     705              cell cu              cell cu
1               l culture     717            l culture            l culture
2            cell culture     632         cell culture         cell culture
3     recombinant protein     387  recombinant protein  recombinant protein
4               cell grow     484            cell grow            cell grow
...                   ...     ...                  ...                  ...
1495            NUMERIC n    1995            NUMERIC n            NUMERIC n
1496  transfected chinese     719  transfected chinese  transfected chinese
1497            NUMERIC r    3316            NUMERIC r            NUMERIC r
1498     NUMERIC receptor    1008     NUMERIC receptor     NUMERIC receptor
1499           receptor c    1276           receptor c           receptor c

      count2    scores
0        293  0.540620
1        290  0.526474
2        268  0.518737
3        201  0.487864
4        212  0.455377
...      ...       ...
1495     115 -0.152290
1496      14 -0.158314
1497     196 -0.166793
1498      11 -0.211712
1499      22 -0.224490

[1500 rows x 6 columns]

In [32]:
#FISHER STARTS HERE

In [33]:
rslt_score3 = rslt_score_for_fisher1

In [34]:
rslt_score3["a"] = rslt_score3["count2"]
rslt_score3["b"] = rslt_score3["count1"] - rslt_score3["count2"]
rslt_score3["c"] = 1050 - rslt_score3["count2"]
rslt_score3["d"] = 8640 - (rslt_score3["count1"] - rslt_score3["count2"])
#rslt_score3.to_csv('b.tsv',sep = '\t')

In [35]:
rslt_score3["a+b"] = rslt_score3["a"] + rslt_score3["b"]
rslt_score3["c+d"] = rslt_score3["c"] + rslt_score3["d"]
rslt_score3["a+c"] = rslt_score3["a"] + rslt_score3["c"]
rslt_score3["b+d"] = rslt_score3["b"] + rslt_score3["d"]
print(rslt_score3)
#(rslt_score3["b"]).to_csv('negative test.tsv',sep = '\t')

             index  count1          word         index  count2    scores    a  \
0     productivity     323  productivity  productivity     251  0.699675  251
1       production    1323    production    production     472  0.623226  472
2          product    1945       product       product     617  0.621291  617
3          culture    1802       culture       culture     543  0.557107  543
4            batch     256         batch         batch     180  0.526917  180
...            ...     ...           ...           ...     ...       ...  ...
3495           cep    4045           cep           cep     159 -0.232392  159
3496       binding    2811       binding       binding     105 -0.235250  105
3497    activation    1960    activation    activation      57 -0.236502   57
3498       agonist    1488       agonist       agonist      12 -0.266307   12
3499      receptor    3599      receptor      receptor      87 -0.285798   87

         b     c     d   a+b   c+d   a+c   b+d
0       72   799  8568   323  9367  1050  8640
1      851   578  7789  1323  8367  1050  8640
2     1328   433  7312  1945  7745  1050  8640
3     1259   507  7381  1802  7888  1050  8640
4       76   870  8564   256  9434  1050  8640
...    ...   ...   ...   ...   ...   ...   ...
3495  3886   891  4754  4045  5645  1050  8640
3496  2706   945  5934  2811  6879  1050  8640
3497  1903   993  6737  1960  7730  1050  8640
3498  1476  1038  7164  1488  8202  1050  8640
3499  3512   963  5128  3599  6091  1050  8640

[3500 rows x 14 columns]

In [36]:
#took factorial of each term individually to mkae it easier to run
joined_factorial1 = []
for x in rslt_score3["a"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial1.append(factorial)
#print((joined_factorial1))

In [37]:
joined_factorial2 = []
for x in rslt_score3["b"]:
    #joinfact = ''.join(factorial)
        factorial = math.factorial(x)
        joined_factorial2.append(factorial)
print(len(joined_factorial2))

3500

In [38]:
joined_factorial3 = []
for x in rslt_score3["c"]:
    if x < 0:
        joined_factorial3.append(1)
    else:
        factorial = math.factorial(x)
        #joinfact = ''.join(factorial)
        joined_factorial3.append(factorial)
print(len(joined_factorial3))

3500

In [39]:
joined_factorial4 = []
for x in rslt_score3["d"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial4.append(factorial)
print(len(joined_factorial4))

3500

In [40]:
joined_factorial5 = []
for x in rslt_score3["a+b"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial5.append(factorial)
print(len(joined_factorial5))

3500

In [41]:
joined_factorial6 = []
for x in rslt_score3["c+d"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial6.append(factorial)
print(len(joined_factorial6))

3500

In [42]:
joined_factorial7 = []
for x in rslt_score3["a+c"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial7.append(factorial)
print(len(joined_factorial7))

3500

In [43]:
joined_factorial8 = []
for x in rslt_score3["b+d"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial8.append(factorial)
print(len(joined_factorial8))

3500

In [44]:
n = math.factorial(9690)

In [45]:
fisher_list_numerator = []
for x in range(3500):
    numerator = joined_factorial5[x] * joined_factorial6[x] * joined_factorial7[x] * joined_factorial8[x]
    fisher_list_numerator.append(numerator)
print(len(fisher_list_numerator))

3500

In [46]:
fisher_list_denominator = []

for x in range(3500):
    denominator = joined_factorial1[x] * joined_factorial2[x] * joined_factorial3[x] * joined_factorial4[x] * n 
    fisher_list_denominator.append(denominator)
print(len(fisher_list_denominator))

3500

In [47]:
fisher_list_score = []
for x in range(3500):
    value = (fisher_list_numerator[x]) / (fisher_list_denominator[x])
    fisher_list_score.append(value)
#print((fisher_list_score))

rslt_score3["Fisher Scores"] = fisher_list_score
#print(rslt_score1)
new_order = rslt_score3.sort_values(by = 'Fisher Scores', ascending = False).reset_index(drop = True)
print(new_order)

               index  count1            word           index  count2  \
0        facilitates      55     facilitates     facilitates       6
1       hypoxanthine      55    hypoxanthine    hypoxanthine       6
2          microbial      54       microbial       microbial       6
3          differing      54       differing       differing       6
4     factor-NUMERIC      54  factor-NUMERIC  factor-NUMERIC       6
...              ...     ...             ...             ...     ...
3495     recombinant    1846     recombinant     recombinant     512
3496         culture    1802         culture         culture     543
3497      production    1323      production      production     472
3498    productivity     323    productivity    productivity     251
3499         product    1945         product         product     617

        scores    a     b     c     d   a+b   c+d   a+c   b+d  Fisher Scores
0     0.000198    6    49  1044  8591    55  9635  1050  8640   1.706034e-01
1     0.000198    6    49  1044  8591    55  9635  1050  8640   1.706034e-01
2     0.000735    6    48  1044  8592    54  9636  1050  8640   1.704604e-01
3     0.000735    6    48  1044  8592    54  9636  1050  8640   1.704604e-01
4     0.000735    6    48  1044  8592    54  9636  1050  8640   1.704604e-01
...        ...  ...   ...   ...   ...   ...   ...   ...   ...            ...
3495  0.492636  512  1334   538  7306  1846  7844  1050  8640  4.077963e-121
3496  0.557107  543  1259   507  7381  1802  7888  1050  8640  8.471375e-150
3497  0.623226  472   851   578  7789  1323  8367  1050  8640  1.199427e-158
3498  0.699675  251    72   799  8568   323  9367  1050  8640  2.470082e-185
3499  0.621291  617  1328   433  7312  1945  7745  1050  8640  3.113722e-193

[3500 rows x 15 columns]

In [48]:
final_scoring = new_order.drop(['a','b', 'c', 'd', 'a+b', 'c+d', 'a+c', 'b+d'],axis = 1)
print(final_scoring)
final_scoring.to_csv('FisherUnigramBP.tsv',sep = '\t')

               index  count1            word           index  count2  \
0        facilitates      55     facilitates     facilitates       6
1       hypoxanthine      55    hypoxanthine    hypoxanthine       6
2          microbial      54       microbial       microbial       6
3          differing      54       differing       differing       6
4     factor-NUMERIC      54  factor-NUMERIC  factor-NUMERIC       6
...              ...     ...             ...             ...     ...
3495     recombinant    1846     recombinant     recombinant     512
3496         culture    1802         culture         culture     543
3497      production    1323      production      production     472
3498    productivity     323    productivity    productivity     251
3499         product    1945         product         product     617

        scores  Fisher Scores
0     0.000198   1.706034e-01
1     0.000198   1.706034e-01
2     0.000735   1.704604e-01
3     0.000735   1.704604e-01
4     0.000735   1.704604e-01
...        ...            ...
3495  0.492636  4.077963e-121
3496  0.557107  8.471375e-150
3497  0.623226  1.199427e-158
3498  0.699675  2.470082e-185
3499  0.621291  3.113722e-193

[3500 rows x 7 columns]

In [49]:
#Fisher Test Bigram

In [50]:
rslt_score4 = rslt_score_for_fisher2

In [51]:
rslt_score4["a"] = rslt_score4["count2"]
rslt_score4["b"] = rslt_score4["count1"] - rslt_score4["count2"]
rslt_score4["c"] = 1050 - rslt_score4["count2"]
rslt_score4["d"] = 8640 - rslt_score4["b"]
#rslt_score4.to_csv('b.tsv',sep = '\t')
#(rslt_score4["b"]).to_csv('negative test.tsv',sep = '\t')

In [52]:
rslt_score4["a+b"] = rslt_score4["a"] + rslt_score4["b"]
rslt_score4["c+d"] = rslt_score4["c"] + rslt_score4["d"]
rslt_score4["a+c"] = rslt_score4["a"] + rslt_score4["c"]
rslt_score4["b+d"] = rslt_score4["b"] + rslt_score4["d"]
print(rslt_score4)

                    index  count1                 word                index  \
0                 cell cu     705              cell cu              cell cu
1               l culture     717            l culture            l culture
2            cell culture     632         cell culture         cell culture
3     recombinant protein     387  recombinant protein  recombinant protein
4               cell grow     484            cell grow            cell grow
...                   ...     ...                  ...                  ...
1495            NUMERIC n    1995            NUMERIC n            NUMERIC n
1496  transfected chinese     719  transfected chinese  transfected chinese
1497            NUMERIC r    3316            NUMERIC r            NUMERIC r
1498     NUMERIC receptor    1008     NUMERIC receptor     NUMERIC receptor
1499           receptor c    1276           receptor c           receptor c

      count2    scores    a     b     c     d   a+b   c+d   a+c   b+d
0        293  0.540620  293   412   757  8228   705  8985  1050  8640
1        290  0.526474  290   427   760  8213   717  8973  1050  8640
2        268  0.518737  268   364   782  8276   632  9058  1050  8640
3        201  0.487864  201   186   849  8454   387  9303  1050  8640
4        212  0.455377  212   272   838  8368   484  9206  1050  8640
...      ...       ...  ...   ...   ...   ...   ...   ...   ...   ...
1495     115 -0.152290  115  1880   935  6760  1995  7695  1050  8640
1496      14 -0.158314   14   705  1036  7935   719  8971  1050  8640
1497     196 -0.166793  196  3120   854  5520  3316  6374  1050  8640
1498      11 -0.211712   11   997  1039  7643  1008  8682  1050  8640
1499      22 -0.224490   22  1254  1028  7386  1276  8414  1050  8640

[1500 rows x 14 columns]

In [53]:
joined_factorial9 = []
for x in rslt_score4["a"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial9.append(factorial)
print(len(joined_factorial9))

1500

In [54]:
joined_factorial10 = []
for x in rslt_score4["b"]:
    #joinfact = ''.join(factorial)
        factorial = math.factorial(x)
        joined_factorial10.append(factorial)
print(len(joined_factorial10))

1500

In [55]:
joined_factorial11 = []
for x in rslt_score4["c"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial11.append(factorial)
print(len(joined_factorial11))

1500

In [56]:
joined_factorial12 = []
for x in rslt_score4["d"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial12.append(factorial)
print(len(joined_factorial12))

1500

In [57]:
joined_factorial13 = []
for x in rslt_score4["a+b"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial13.append(factorial)
print(len(joined_factorial13))

1500

In [58]:
joined_factorial14 = []
for x in rslt_score4["c+d"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial14.append(factorial)
print(len(joined_factorial14))

1500

In [59]:
joined_factorial15 = []
for x in rslt_score4["a+c"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial15.append(factorial)
print(len(joined_factorial15))

1500

In [60]:
joined_factorial16 = []
for x in rslt_score4["b+d"]:
    factorial = math.factorial(x)
    #joinfact = ''.join(factorial)
    joined_factorial16.append(factorial)
print(len(joined_factorial16))

1500

In [61]:
fisher_list_numerator2 = []
for x in range(1500):
    numerator2 = joined_factorial13[x] * joined_factorial14[x] * joined_factorial15[x] * joined_factorial16[x]
    fisher_list_numerator2.append(numerator2)
print(len(fisher_list_numerator2))

1500

In [62]:
fisher_list_denominator2 = []

for x in range(1500):
    denominator2 = joined_factorial9[x] * joined_factorial10[x] * joined_factorial11[x] * joined_factorial12[x] * n 
    fisher_list_denominator2.append(denominator2)
print(len(fisher_list_denominator2))

1500

In [63]:
fisher_list_score2 = []
for x in range(1500):
    value2 = (fisher_list_numerator2[x]) / (fisher_list_denominator2[x])
    fisher_list_score2.append(value2)
#print((fisher_list_score))

rslt_score4["Fisher Scores"] = fisher_list_score2
#print(rslt_score1)
new_order2 = rslt_score4.sort_values(by = 'Fisher Scores', ascending = False).reset_index(drop = True)
print(new_order2)

                    index  count1                 word                index  \
0                cell may      82             cell may             cell may
1                  well r      81               well r               well r
2          cell determine      81       cell determine       cell determine
3         protein involve      79      protein involve      protein involve
4          cellular level      78       cellular level       cellular level
...                   ...     ...                  ...                  ...
1495              batch c     177              batch c              batch c
1496  recombinant protein     387  recombinant protein  recombinant protein
1497         cell culture     632         cell culture         cell culture
1498            l culture     717            l culture            l culture
1499              cell cu     705              cell cu              cell cu

      count2    scores    a    b     c     d  a+b   c+d   a+c   b+d  \
0          9  0.000521    9   73  1041  8567   82  9608  1050  8640
1          9  0.001016    9   72  1041  8568   81  9609  1050  8640
2          9  0.001016    9   72  1041  8568   81  9609  1050  8640
3          9  0.002014    9   70  1041  8570   79  9611  1050  8640
4          9  0.002517    9   69  1041  8571   78  9612  1050  8640
...      ...       ...  ...  ...   ...   ...  ...   ...   ...   ...
1495     131  0.426270  131   46   919  8594  177  9513  1050  8640
1496     201  0.487864  201  186   849  8454  387  9303  1050  8640
1497     268  0.518737  268  364   782  8276  632  9058  1050  8640
1498     290  0.526474  290  427   760  8213  717  8973  1050  8640
1499     293  0.540620  293  412   757  8228  705  8985  1050  8640

      Fisher Scores
0      1.401087e-01
1      1.398855e-01
2      1.398855e-01
3      1.387936e-01
4      1.379186e-01
...             ...
1495   1.332412e-89
1496   2.216635e-95
1497  2.070855e-102
1498  2.533314e-105
1499  3.060440e-110

[1500 rows x 15 columns]

In [64]:
final_scoring2 = new_order2.drop(['a','b', 'c', 'd', 'a+b', 'c+d', 'a+c', 'b+d'],axis = 1)
print(final_scoring2)
final_scoring2.to_csv('FisherBigramBP.tsv',sep = '\t')

                    index  count1                 word                index  \
0                cell may      82             cell may             cell may
1                  well r      81               well r               well r
2          cell determine      81       cell determine       cell determine
3         protein involve      79      protein involve      protein involve
4          cellular level      78       cellular level       cellular level
...                   ...     ...                  ...                  ...
1495              batch c     177              batch c              batch c
1496  recombinant protein     387  recombinant protein  recombinant protein
1497         cell culture     632         cell culture         cell culture
1498            l culture     717            l culture            l culture
1499              cell cu     705              cell cu              cell cu

      count2    scores  Fisher Scores
0          9  0.000521   1.401087e-01
1          9  0.001016   1.398855e-01
2          9  0.001016   1.398855e-01
3          9  0.002014   1.387936e-01
4          9  0.002517   1.379186e-01
...      ...       ...            ...
1495     131  0.426270   1.332412e-89
1496     201  0.487864   2.216635e-95
1497     268  0.518737  2.070855e-102
1498     290  0.526474  2.533314e-105
1499     293  0.540620  3.060440e-110

[1500 rows x 7 columns]

In [65]:
print(final_scoring)
print(final_scoring2)

               index  count1            word           index  count2  \
0        facilitates      55     facilitates     facilitates       6
1       hypoxanthine      55    hypoxanthine    hypoxanthine       6
2          microbial      54       microbial       microbial       6
3          differing      54       differing       differing       6
4     factor-NUMERIC      54  factor-NUMERIC  factor-NUMERIC       6
...              ...     ...             ...             ...     ...
3495     recombinant    1846     recombinant     recombinant     512
3496         culture    1802         culture         culture     543
3497      production    1323      production      production     472
3498    productivity     323    productivity    productivity     251
3499         product    1945         product         product     617

        scores  Fisher Scores
0     0.000198   1.706034e-01
1     0.000198   1.706034e-01
2     0.000735   1.704604e-01
3     0.000735   1.704604e-01
4     0.000735   1.704604e-01
...        ...            ...
3495  0.492636  4.077963e-121
3496  0.557107  8.471375e-150
3497  0.623226  1.199427e-158
3498  0.699675  2.470082e-185
3499  0.621291  3.113722e-193

[3500 rows x 7 columns]
                    index  count1                 word                index  \
0                cell may      82             cell may             cell may
1                  well r      81               well r               well r
2          cell determine      81       cell determine       cell determine
3         protein involve      79      protein involve      protein involve
4          cellular level      78       cellular level       cellular level
...                   ...     ...                  ...                  ...
1495              batch c     177              batch c              batch c
1496  recombinant protein     387  recombinant protein  recombinant protein
1497         cell culture     632         cell culture         cell culture
1498            l culture     717            l culture            l culture
1499              cell cu     705              cell cu              cell cu

      count2    scores  Fisher Scores
0          9  0.000521   1.401087e-01
1          9  0.001016   1.398855e-01
2          9  0.001016   1.398855e-01
3          9  0.002014   1.387936e-01
4          9  0.002517   1.379186e-01
...      ...       ...            ...
1495     131  0.426270   1.332412e-89
1496     201  0.487864   2.216635e-95
1497     268  0.518737  2.070855e-102
1498     290  0.526474  2.533314e-105
1499     293  0.540620  3.060440e-110

[1500 rows x 7 columns]

In [66]:
#sort scores based off fisher test to be used as custom vocabulary
feature_list = final_scoring.append(final_scoring2, ignore_index = True)
feature_list.sort_values(by = 'Fisher Scores', ascending = False, inplace = True)
feature_list.to_csv('combinedFeatureListBPFisher.tsv',sep = '\t')
print(feature_list)

               index  count1            word           index  count2  \
0        facilitates      55     facilitates     facilitates       6
1       hypoxanthine      55    hypoxanthine    hypoxanthine       6
2          microbial      54       microbial       microbial       6
4     factor-NUMERIC      54  factor-NUMERIC  factor-NUMERIC       6
3          differing      54       differing       differing       6
...              ...     ...             ...             ...     ...
3495     recombinant    1846     recombinant     recombinant     512
3496         culture    1802         culture         culture     543
3497      production    1323      production      production     472
3498    productivity     323    productivity    productivity     251
3499         product    1945         product         product     617

        scores  Fisher Scores
0     0.000198   1.706034e-01
1     0.000198   1.706034e-01
2     0.000735   1.704604e-01
4     0.000735   1.704604e-01
3     0.000735   1.704604e-01
...        ...            ...
3495  0.492636  4.077963e-121
3496  0.557107  8.471375e-150
3497  0.623226  1.199427e-158
3498  0.699675  2.470082e-185
3499  0.621291  3.113722e-193

[5000 rows x 7 columns]

In [67]:
feature_list2 = rslt_score1.append(rslt_score2, ignore_index = True)
feature_list2.sort_values(by = 'scores', ascending = False, inplace = True)
feature_list2.to_csv('combinedFeatureListBPeGift.tsv',sep = '\t')
print(feature_list2)

             index  count1          word         index  count2    scores
0     productivity     323  productivity  productivity     251  0.699675
1       production    1323    production    production     472  0.623226
2          product    1945       product       product     617  0.621291
3          culture    1802       culture       culture     543  0.557107
3500       cell cu     705       cell cu       cell cu     293  0.540620
...            ...     ...           ...           ...     ...       ...
3495           cep    4045           cep           cep     159 -0.232392
3496       binding    2811       binding       binding     105 -0.235250
3497    activation    1960    activation    activation      57 -0.236502
3498       agonist    1488       agonist       agonist      12 -0.266307
3499      receptor    3599      receptor      receptor      87 -0.285798

[5000 rows x 6 columns]

In [68]:
#pick the vocab set and length to be used
myvocab ={}
count = 0
top = feature_list['word'].head(2700)
top.to_csv('vocabBP.tsv',sep = '\t')
for x in top:
    myvocab[str(x)] = count
    count+=1
#print(myvocab)

In [69]:
#correct distribution with undersampling
undersample = full_set
undersample.sort_values(by = 'Label', ascending = False, inplace = True)
#print(undersample)
y = undersample[:1000]
#print(y)
x = undersample[1000:]
#print(len(x))
#print(x)
z = x.sample(frac=0.1, replace=True, random_state=1)
#print(z)

frames = [y, z]
new_set = pd.concat(frames)
#print(new_set)
new_set.to_csv('undersample.tsv',sep = '\t')
new_set.sort_values(by = 'docID_Bibliome', ascending = False, inplace = True)
#print(new_set)

In [70]:
training_data, testing_data = train_test_split(new_set,random_state = 2000, test_size = 0.2)
print(len(training_data))
print(len(testing_data))

1495
374

In [71]:
Y_train = training_data['Label'].values
Y_test = testing_data['Label'].values

In [72]:
def extract_features(df,field,training_data,testing_data,type="binary"):
    if "binary" in type:
        
        # BINARY FEATURE REPRESENTATION
        cv= CountVectorizer(binary=True, max_df=0.9)#my list of top terms
        cv.fit_transform(training_data[field].values)#transform my datafframe field using the list of top terms
        
        train_feature_set=cv.transform(training_data[field].values)
        test_feature_set=cv.transform(testing_data[field].values)
        
        return train_feature_set,test_feature_set,cv
  
    elif "counts" in type:
        
        # COUNT BASED FEATURE REPRESENTATION
        cv= CountVectorizer(binary=False, max_df=0.95)
        cv.fit_transform(training_data[field].values)
        
        train_feature_set=cv.transform(training_data[field].values)
        test_feature_set=cv.transform(testing_data[field].values)
        
        return train_feature_set,test_feature_set,cv
    
    
    elif "tf-idf" in type:    
        
        # TF-IDF BASED FEATURE REPRESENTATION
        tfidf_vectorizer=TfidfVectorizer(use_idf=True, min_df = 0.1 , max_df=0.95, max_features = 235, ngram_range = (1,3))
        #print(tfidf_vectorizer)
        tfidf_vectorizer.fit_transform(training_data[field].values)
        
        names = tfidf_vectorizer.get_feature_names()
        #print(names)
        
        feature_set = tfidf_vectorizer.transform(df[field].values)
        
        train_feature_set=tfidf_vectorizer.transform(training_data[field].values)
        test_feature_set=tfidf_vectorizer.transform(testing_data[field].values)
        
        return train_feature_set,test_feature_set,tfidf_vectorizer, feature_set
    
    else:
        #method for Fisher terms
        vectorizer = TfidfVectorizer(use_idf = False,max_df = 0.95, vocabulary=myvocab)
        vectorizer.fit_transform(training_data[field].values)
        #print(X)
        
        feature_set = vectorizer.transform(df[field].values)
        
        train_feature_set= vectorizer.transform(training_data[field].values)
        test_feature_set= vectorizer.transform(testing_data[field].values)
        
        return train_feature_set,test_feature_set, vectorizer, feature_set

In [73]:
def get_top_k_predictions(model,X_test,k):
    
# get probabilities instead of predicted labels, since we want to collect top 3
    probs = model.predict_proba(X_test)

# GET TOP K PREDICTIONS BY PROB - note these are just index
    best_n = np.argsort(probs, axis=1)[:,-k:]
    
# GET CATEGORY OF PREDICTIONS
    preds=[[model.classes_[predicted_cat] for predicted_cat in prediction] for prediction in best_n]
    
# REVERSE CATEGORIES - DESCENDING ORDER OF IMPORTANCE
    preds=[ item[::-1] for item in preds]
    
    return preds

In [74]:
field = 'processed_abstracts'
feature_rep = 'other'
top_k = 1

In [75]:
X_train,X_test,feature_transformer, X = extract_features(new_set,field,training_data,testing_data,type=feature_rep)

In [76]:
print(feature_transformer)

TfidfVectorizer(max_df=0.95, use_idf=False,
                vocabulary={'-/': 506, '-NUMERIC NUMERIC': 1881,
                            '-NUMERIC c': 2664, '-NUMERIC cho': 481,
                            '-NUMERIC express': 511, '-NUMERIC increase': 790,
                            '-NUMERIC k': 827, '-NUMERIC mg': 2209,
                            '-NUMERIC result': 289, '-NUMERIC show': 253,
                            '-NUMERICa': 356, '-NUMERICb': 78,
                            '-NUMERICgal': 1448, '-NUMERICh': 2293,
                            '-anchored': 736, '-and': 431, '-beta': 660,
                            '-bound': 2411, '-cNUMERIC': 45, '-cells': 612,
                            '-cho': 1164, '-cho cell': 325, '-containing': 882,
                            '-cys': 162, '-defective': 830, '-deficient': 1226,
                            '-deficient cho': 2600, '-depleted': 98,
                            '-derived': 890, '-derived cell': 2155, ...})

In [77]:
scikit_log_reg = LogisticRegression(verbose=1, solver='liblinear',multi_class = 'auto', random_state=10, C=1,max_iter=1000)
model=scikit_log_reg.fit(X_train,Y_train)

[LibLinear]

In [78]:
preds=get_top_k_predictions(model,X_test,top_k)
Y_predicted = ([x[0] for x in preds])
print(Y_predicted)

[1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0]

In [79]:
cm = confusion_matrix(Y_test,Y_predicted)
print(cm)

[[101  75]
 [ 40 158]]

In [80]:
print(sklearn.metrics.classification_report(Y_test,Y_predicted))

              precision    recall  f1-score   support

           0       0.72      0.57      0.64       176
           1       0.68      0.80      0.73       198

    accuracy                           0.69       374
   macro avg       0.70      0.69      0.69       374
weighted avg       0.70      0.69      0.69       374

In [81]:
Y = new_set['Label']

scores = cross_val_score(model, X, Y, cv=10)
print(scores)

[LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][0.70588235 0.65240642 0.65775401 0.6631016  0.68983957 0.77005348
 0.71122995 0.60962567 0.63101604 0.6344086 ]

In [82]:
avg = scores.mean()
print("Accuracy of the model with a 10-fold cross validation: ", avg * 100)

Accuracy of the model with a 10-fold cross validation:  67.2531769305963